.body{
	font-family: 'Nunito', sans-serif;
	color: gainsboro;
}
#bBevezeto
{
	background-image: url("small-memory-4k_1551642806.jpg");
	background-color: lightgreen;
	background-repeat: no-repeat;
	background-size: cover;
}
#bRolam
{
	background-image: url("World of Warcraft Battle For Azeroth 4K 8K227679006.jpg");
	background-color: lightblue;
	background-repeat: no-repeat;
	background-size: cover;
	color: saddlebrown;
}
#bMunkaim
{
	background-image: url("pexels-photo-303532.jpeg");
	background-color: lightblue;
	background-repeat: no-repeat;
	background-size: cover;
}
#bDokumentacio
{
	background-color: black;
	background-image: url("aether-wing-kayle-league-of-legends-4k_1553074771.jpg"), url("lancer-zero-hecarim-lol-splash-art-league-of-legends_1574099397.jpg");
	background-size: cover;
	background-repeat: no-repeat, repeat;
}
header
{
	height: 50px;
	border-bottom: 2.5px solid forestgreen;
	font-size: 30px;
	word-spacing: 50px;
}
.oldal
{
	color: orange;
	word-spacing: normal;
	margin-left: 100px;
}
#Enkep
{
	height:400px;
	margin-top: 50px;
	margin-right: 50px;
	border: 2px solid black;
}
#Gyerekkori
{
	height: 300px;
	margin-top: 50px;
	margin-left:20px;
	position: absolute;
	top: 150px;
	border: 2px solid black;
}
.paragrafus
{
	font-size: 20px;
}
#elsooldal
{
	color: green;
	font-weight: bold;
	margin: 100px;
	margin-right: 500px;
	border: 4px solid grey;
	border-radius: 3px;
	background-color: lightgrey;
	text-align: center;
}
#Masodikoldal
{
	margin-top: 50px;
	margin-left: 300px;
	margin-right: 50px;
	text-align:left;
	border: 3px solid skyblue;
	border-radius: 4px;
	background-color: rgba(135, 206, 235, 0.7);
}
#Negyedikoldal1
{
	margin-left: 350px;
	margin-right: 350px;
	background-color: rgba(0,0,0,0.5);
	padding:5px;
}
#Negyedikoldal2
{
	margin-left: 350px;
	margin-right: 350px;
	position: absolute;
	top: 750px;
	background-color: rgba(0,0,0,0.5);
	padding:5px;
}
#Negyedikoldal3
{
	margin-left: 350px;
	margin-right: 350px;
	position: absolute;
	top: 1450px;
	background-color: rgba(0,0,0,0.5);
	padding:5px;
}
#Negyedikoldal4
{
	margin-left: 350px;
	margin-right: 350px;
	position: absolute;
	top: 2050px;
	background-color: rgba(0,0,0,0.5);
	padding:5px;
}
#Eredmenyek
{
	margin-left: 300px;
	margin-right: 600px;
	text-align:left;
	border: 3px solid skyblue;
	border-radius: 4px;
	background-color: rgba(135, 206, 235, 0.7);
	font-size:25px
}
ul
{
	font-size: 20px;
}
footer
{
	position: fixed;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}
.heading1
{
	text-align: center;
	font-size: 75px;
	text-decoration-line: underline;
}
#dRolam
{

}
#GT
{
	height: 300px;
	position: absolute;
	top: 500px;
	left: 1000px;
	border: 2px solid black;
}
.leiras
{
  padding: 15px;
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
  color: chocolate;
  background-color: lightgrey;
}
.gallery
{
  	margin: 5px;
  	float: left;
  	width: 100px;
}
#kep1
{
	margin-left: 20px;
	margin-top: 20px;
	border: 2px solid black;
	height: 320px;
	width: 550px;
}
#kepl1
{
	width: 300px;
	margin-left:20px;
	height: 10px;
}
#kep2
{
	position: absolute; 
	left: 700px;
	width: 300px;
	height: 450px;
	margin-top: 30px;
}
#kepl2
{
	height: 10px;
}
#kep3
{
	position: absolute;
	left: 1100px;
	margin-left: 30px;
	width: 300px;
	height: 450px;
	margin-top: 30px;
}
#kepl3
{
	height: 10px;
}
#kep4
{
	position: absolute;
	top: 450px;
	margin-left: 20px;
	margin-top: 20px;
	border: 2px solid black;
	height: 300px;
	width: 400px;
}
#kepl4
{
	height: 10px;
}
#kep5
{
	position: absolute;
	left: 650px;
	top: 625px;
	height: 175px;
	width: 400px;
}
#kepl5
{
	height: 10px;
}
#kep6
{
	position: absolute;
	left: 1100px;
	top: 625px;
	height: 175px;
	width: 375px;
}
#kepl6
{
	height: 10px;
}
#elsoterv
{
	position: absolute;
	left: 550px;
}
#masodikterv
{
	position: absolute;
	left: 550px;
	top: 1000px;
}
#harmadikterv
{
	position: absolute;
	left: 550px;
	top: 1600px;
}

